<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3 p-11">
        <label for="username" class="block text-2xl m-5"><b>Welcome</b></label>
        <input type="text" 
            ngModel
            #username="ngModel"
            name="username" id="username" 
            class="border border-slate-300 p-2 rounded w-full m-4"
            placeholder="Enter your trainername"/>

    <button type = "submit" class="bg-yellow-500 p-2 rounded m-4"><b>Login</b></button>
    </fieldset>



</form>
