<nav class="bg-yellow-500 flex justify-between items-center p-4 sticky top-0 w-full z-50">
    <span class="font-bold text-4xl">Pokémon Trainer</span>
    <ng-container *ngIf="user !== undefined">
        <ul class="flex">
            <li class="font-bold text-lg px-4">
                <a routerLink="/catalogue">Pokémon catalogue</a>
            </li>
            <li class="font-bold text-lg px-4">
                <a routerLink="/trainer">Trainer</a>
            </li>
        </ul>
    </ng-container>
</nav>